body, html {
    height: 100%
}

* { 
  position: relative;
  z-index: 2;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer-icons {

    font-size: 2.5em !important;

}

#icon {
  margin: 15px !important;
  padding: 10px !important;
  opacity: 0.93 !important;
  border: 2px solid rgba(0, 255, 170, 0.637) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px rgba(2, 133, 93, 0.137) !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
  /* color: white !important; */
}

@media (max-width: 767px) {
  #icons {
    margin: 10px ;
  }
}
#icons:hover {
  transform: scale(1.05) ;
  overflow: hidden ;
  border: 2.2px solid rgba(197, 115, 230, 0.883) 
}
.tech-icon-images {
  padding: 20px;
  line-height: 1.6;
}


#mePicture { 
  position: fixed;
  z-index: 0 ;
  height: 120vh;
  /* margin: 0 25%; */
  right: 150px
}

#coolPic { 
  position: fixed;
  width: 400px;
  height: 250px;
  top: 5% ;
  right: 150px ;
  /* margin: 0 25%; */
  z-index: 1;
}

.picDiv {
  position: relative;
  /* border: 2px solid red; */
}


.bgForPjects { 
  background-image: url('./imgs/guywithLaptop.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#projectsMe { 
  background: black;
  background-image: url('./imgs/p2.PNG');
}

.navi { 
  background: rgba(0, 255, 170, 0.637)
}


@media (max-width: 767px) {
  .techSkills {
    margin: 10px ;
  }
}