body, html {
    height: 100%
}

* { 
  position: relative;
  z-index: 2;
}

.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer-icons {

    font-size: 2.5em !important;

}

.icons {
  margin: 15px !important;
  padding: 10px !important;
  opacity: 0.93 !important;
  border: 2px solid rgba(0, 255, 170, 0.637) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px rgba(2, 133, 93, 0.137) !important;
  transition: all 0.4s ease 0s !important;
}

@media (max-width: 767px) {
  .icons {
    margin: 10px ;
  }
}
.icons:hover {
  transform: scale(1.05) ;
  overflow: hidden ;
  border: 2.2px solid rgba(197, 115, 230, 0.883) 
}

/* .icons {
  padding: 20px;
  line-height: 1.6;
} */


#mePicture { 
  position: fixed;
  z-index: 0 ;
  height: 120vh;
  /* margin: 0 25%; */
  right: 150px
}

#coolPic { 
  position: fixed;
  width: 400px;
  height: 250px;
  top: 5% ;
  right: 150px ;
  /* margin: 0 25%; */
  z-index: 1;
}

.picDiv {
  position: relative;
  /* border: 2px solid red; */
}


.bgForPjects, .ayo, .what { 
  background-image: url('./imgs/test3.jpg');
  background-repeat: no-repeat;
  /* background-size: cover; */
}


#projectsMe { 
  background: black;
  background-image: url('./imgs/p2.PNG');
}

.navi { 
  background: rgba(0, 255, 170, 0.637)
}


@media (max-width: 767px) {
  .techSkills {
    margin: 10px ;
  }
}


.parent {
  display: grid;
  grid-template-columns: repeat(2, 0) repeat(5, 1fr);
  grid-template-rows: .2fr repeat(2, 1fr) .2fr repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: url('./imgs/test3.jpg');
  border: none;
  }
  
  .div1 { grid-area: 1 / 4 / 7 / 7;}
  .div2 { grid-area: 1 / 4 / 2 / 7; }
  .div3 { grid-area: 2 / 4 / 3 / 5; }
  .div4 { grid-area: 2 / 5 / 3 / 6; }
  .div5 { grid-area: 2 / 6 / 3 / 7; }
  .div6 { grid-area: 3 / 6 / 4 / 7; }
  .div7 { grid-area: 3 / 5 / 4 / 6; }
  .div8 { grid-area: 3 / 4 / 4 / 5; }
  .div9 { grid-area: 4 / 4 / 5 / 7; }
  .div10 { grid-area: 5 / 4 / 6 / 5; }
  .div11 { grid-area: 5 / 5 / 6 / 6; }
  .div12 { grid-area: 5 / 6 / 6 / 7; }
  .div13 { grid-area: 6 / 6 / 7 / 7; }
  .div14 { grid-area: 6 / 5 / 7 / 6; }
  .div15 { grid-area: 6 / 4 / 7 / 5; }
  /* .div16 { grid-area: 1 / 3 / 7 / 4; 

  }
  .div17 { grid-area: 1 / 7 / 7 / 8; 
  
  } */

  .bgCards, .btnP, .imgBg { 
    background-color:   inherit;
    border: 2px solid rgba(0, 255, 170, 0.637) ;
    border-radius: 5px ;
    box-shadow: 4px 5px 4px 3px rgba(2, 133, 93, 0.137) ;
    transition: all 0.4s ease 0s ;
  }
  